<div class="ticket-control text-control">
    {% if (!ctx.hideComponent) { %}
        <div class="field-label">{{ ctx.fieldLabel }}</div>
        <div class="field-value {{ctx.getClass(ctx.isMultiline)}}">
            <span>{{ ctx.value }}</span>&nbsp;<span>{{ctx.getClass(ctx.isMultiline)}}</span>
        </div>
    {% } %}
</div>
