<div class="ticket-control radiolist-control">
    {% if (!ctx.hideComponent) { %}
        <div class="field-label">{{ ctx.fieldLabel }}</div>
        {% for (let i = 0; i < ctx.radiolistOptions.length; i++) { %}
            <div class="radiolist-option">
                <input type="radio" id="{{ctx.componentKey + ctx.radiolistOptions[i].tag}}" {{ctx.radioChecked(ctx.value, ctx.radiolistOptions[i].tag)}}><label for="{{ctx.componentKey + ctx.radiolistOptions[i].tag}}">{{ctx.radiolistOptions[i].text}}</label>
            </div>
        {% } %}
    {% } %}
</div>
