<div class="ticket-control linked-asset-combo-box-control">
    {% if (!ctx.hideComponent) { %}
        <div class="field-label">{{ ctx.fieldLabel }}</div>
        <div class="field-value">
            <span>{{ ctx.value }}</span>
        </div>
    {% } %}
</div>
